<!-- blog start here -->
<div id="blog">
    <div class="container">
        <div class="row">
            <!-- latest-blog start here -->
            <div class="latest-blog">
                <h1>Latest Blog</h1>
                <div class="border"></div>
                <div class="border1"></div>
            </div>
            <!-- latest-blog end here -->

            <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- box start here -->
                <div class="box">
                    <a href="blog.html">
                        <img src="{{vm.imageUrl}}blog.jpg" alt="b1" title="b1" class="img-responsive" />
                    </a>
                    <div class="matter">
                        <h1>Tonsectetur adipiscing elit. Viva mus id interdum nibh, eu</h1>
                        <p>Aestibulum nec mauris sapien. Vestibulum ultricies quam sit amet pretium rutrum. Etiam tempus lacus in sem imperdiet ...</p>
                        <a href="blog.html">Read more	<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <!-- box end here -->
            </div>



            <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- box start here -->
                <div class="box">
                    <a href="blog.html">
                        <img src="{{vm.imageUrl}}blog.jpg" alt="b2" title="b2" class="img-responsive" />
                    </a>
                    <div class="matter">
                        <h1>Tonsectetur adipiscing elit. Viva mus id interdum nibh, eu</h1>
                        <p>Aestibulum nec mauris sapien. Vestibulum ultricies quam sit amet pretium rutrum. Etiam tempus lacus in sem imperdiet ...</p>
                        <a href="blog.html">Read more	<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <!-- box end here -->
            </div>



            <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- box start here -->
                <div class="box">
                    <a href="blog.html">
                        <img src="{{vm.imageUrl}}blog.jpg" alt="b3" title="b3" class="img-responsive" />
                    </a>
                    <div class="matter">
                        <h1>Tonsectetur adipiscing elit. Viva mus id interdum nibh, eu</h1>
                        <p>Aestibulum nec mauris sapien. Vestibulum ultricies quam sit amet pretium rutrum. Etiam tempus lacus in sem imperdiet ...</p>
                        <a href="blog.html">Read more	<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <!-- box end here -->
            </div>



            <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- box start here -->
                <div class="box">
                    <a href="blog.html">
                        <img src="{{vm.imageUrl}}blog.jpg" alt="b4" title="b4" class="img-responsive" />
                    </a>
                    <div class="matter">
                        <h1>Tonsectetur adipiscing elit. Viva mus id interdum nibh, eu</h1>
                        <p>Aestibulum nec mauris sapien. Vestibulum ultricies quam sit amet pretium rutrum. Etiam tempus lacus in sem imperdiet ...</p>
                        <a href="blog.html">Read more	<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <!-- box end here -->
            </div>
        </div>
    </div>
</div>
<!-- blog end here -->
<!-- latest start here -->
<div id="latest">
    <div class="container">
        <div class="row">
            <!-- latest-candidate start here -->
            <div class="latest-candidate">
                <h1>OUR LATEST CANDIDATES</h1>
                <div class="border"></div>
                <div class="border1"></div>
            </div>
            <!-- latest-candidate end here -->


            <div id="latests" class="owl-carousel">
                <div class="item">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <div class="candidate">
                            <img src="{{vm.imageUrl}}pic.jpg" class="img-responsive" alt="cand-1" title="cand-1" />
                            <h1>John Doe</h1>
                            <p>Web Designer </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <div class="candidate">
                            <img src="{{vm.imageUrl}}pic.jpg" class="img-responsive" alt="cand-2" title="cand-2" />
                            <h1>John Doe</h1>
                            <p>Web Designer </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <div class="candidate">
                            <img src="{{vm.imageUrl}}pic.jpg" class="img-responsive" alt="cand-3" title="cand-3" />
                            <h1>John Doe</h1>
                            <p>Web Designer </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <div class="candidate">
                            <img src="{{vm.imageUrl}}pic.jpg" class="img-responsive" alt="cand-4" title="cand-4" />
                            <h1>John Doe</h1>
                            <p>Web Designer </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <div class="candidate">
                            <img src="{{vm.imageUrl}}pic.jpg" class="img-responsive" alt="cand-5" title="cand-5" />
                            <h1>John Doe</h1>
                            <p>Web Designer </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <div class="candidate">
                            <img src="{{vm.imageUrl}}pic.jpg" class="img-responsive" alt="cand-6" title="cand-6" />
                            <h1>John Doe</h1>
                            <p>Web Designer </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <div class="candidate">
                            <img src="{{vm.imageUrl}}pic.jpg" class="img-responsive" alt="cand-1" title="cand-1" />
                            <h1>John Doe</h1>
                            <p>Web Designer </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <div class="candidate">
                            <img src="{{vm.imageUrl}}pic.jpg" class="img-responsive" alt="cand-2" title="cand-2" />
                            <h1>John Doe</h1>
                            <p>Web Designer </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <div class="candidate">
                            <img src="{{vm.imageUrl}}pic.jpg" class="img-responsive" alt="cand-3" title="cand-3" />
                            <h1>John Doe</h1>
                            <p>Web Designer </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <div class="candidate">
                            <img src="{{vm.imageUrl}}pic.jpg" class="img-responsive" alt="cand-4" title="cand-4" />
                            <h1>John Doe</h1>
                            <p>Web Designer </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- latest end here -->