<div class="slideshow owl-carousel">
    <div class="item" ng-repeat="item in vm.items">
        <img src="{{item.imageUrl}}?RenditionID=6" alt="slider" title="slider" class="img-responsive" />
        <div class="slide-detail">
            <div class="container">
                <div class="slider-caption">
                    <div class="off"></div>
                    <h1>Find Your Job</h1>
                    <div class="col-md-4 col-sm-4 col-xs-12 paddleft">
                        <select class="selectpicker form-control" name="allcate">
                            <option value="1">All Category</option>
                            <option value="0">Category 1</option>
                            <option value="0">Category 2</option>
                            <option value="0">Category 3</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <select class="selectpicker form-control" name="location">
                            <option value="1">Select Location</option>
                            <option value="0">Location 1</option>
                            <option value="0">Location 2</option>
                            <option value="0">Location 3</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 paddright">
                        <div class="input-group">
                            <input name="s" class="form-control" value="" placeholder="Search" type="text">
                            <span>
                                <button type="submit" class="btnsrch" onclick="location.href='jobs.html'"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="center">
                        <button class="btn-default">
                            ADVANCE JOB SEARCH <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="item">
        <img src="{{vm.imageUrl}}slider-1.jpg" alt="slider" title="slider" class="img-responsive" />
        <div class="slide-detail">
            <div class="container">
                <div class="slider-caption">
                    <div class="off"></div>
                    <h1>Find Your Job</h1>
                    <div class="col-md-4 col-sm-4 col-xs-12 paddleft">
                        <select class="selectpicker form-control" name="allcate">
                            <option value="1">All Category</option>
                            <option value="0">Category 1</option>
                            <option value="0">Category 2</option>
                            <option value="0">Category 3</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <select class="selectpicker form-control" name="location">
                            <option value="1">Select Location</option>
                            <option value="0">Location 1</option>
                            <option value="0">Location 2</option>
                            <option value="0">Location 3</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 paddright">
                        <div class="input-group">
                            <input name="s" class="form-control" value="" placeholder="Search" type="text">
                            <span>
                                <button type="submit" class="btnsrch" onclick="location.href='jobs.html'"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="center">
                        <button class="btn-default">
                            ADVANCE JOB SEARCH <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="{{vm.imageUrl}}slider-1.jpg" alt="slider" title="slider" class="img-responsive" />
        <div class="slide-detail">
            <div class="container">
                <div class="slider-caption">
                    <div class="off"></div>
                    <h1>Find Your Job</h1>
                    <div class="col-md-4 col-sm-4 col-xs-12 paddleft">
                        <select class="selectpicker form-control" name="allcate">
                            <option value="1">All Category</option>
                            <option value="0">Category 1</option>
                            <option value="0">Category 2</option>
                            <option value="0">Category 3</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <select class="selectpicker form-control" name="location">
                            <option value="1">Select Location</option>
                            <option value="0">Location 1</option>
                            <option value="0">Location 2</option>
                            <option value="0">Location 3</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 paddright">
                        <div class="input-group">
                            <input name="s" class="form-control" value="" placeholder="Search" type="text">
                            <span>
                                <button type="submit" class="btnsrch" onclick="location.href='jobs.html'"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="center">
                        <button class="btn-default">
                            ADVANCE JOB SEARCH <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="{{vm.imageUrl}}slider-1.jpg" alt="slider" title="slider" class="img-responsive" />
        <div class="slide-detail">
            <div class="container">
                <div class="slider-caption">
                    <div class="off"></div>
                    <h1>Find Your Job</h1>
                    <div class="col-md-4 col-sm-4 col-xs-12 paddleft">
                        <select class="selectpicker form-control" name="allcate">
                            <option value="1">All Category</option>
                            <option value="0">Category 1</option>
                            <option value="0">Category 2</option>
                            <option value="0">Category 3</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <select class="selectpicker form-control" name="location">
                            <option value="1">Select Location</option>
                            <option value="0">Location 1</option>
                            <option value="0">Location 2</option>
                            <option value="0">Location 3</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 paddright">
                        <div class="input-group">
                            <input name="s" class="form-control" value="" placeholder="Search" type="text">
                            <span>
                                <button type="submit" class="btnsrch" onclick="location.href='jobs.html'"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="center">
                        <button class="btn-default">
                            ADVANCE JOB SEARCH <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>